$brightBlue : hsl(220, 98%, 61%);
$gradient1 : hsl(192, 100%, 67%);
$gradient2 : hsl(280, 87%, 65%);

$light_veryLightGray: hsl(0, 0%, 98%);
$light_veryLightGrayishBlue: hsl(236, 33%, 92%);
$light_lightGrayishBlue: hsl(233, 11%, 84%);
$light_darkGrayishBlue: hsl(236, 9%, 61%);
$light_veryDarkGrayishBlue: hsl(235, 19%, 35%);

$dark_veryDarkBlue: hsl(235, 21%, 11%);
$dark_veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$dark_lightGrayishBlue: hsl(234, 39%, 85%);
$dark_lightGrayishBlue_hover: hsl(236, 33%, 92%);
$dark_darkGrayishBlue: hsl(234, 11%, 52%); // last line buttons normal state
$dark_veryDarkGrayishBlue1: hsl(233, 14%, 35%);
$dark_veryDarkGrayishBlue2: hsl(237, 14%, 26%);

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Josefin Sans', 'sans serif';
    background-color: $dark_veryDarkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // color: #fff;
    font-weight: 400;
    transition: all 0.6s ease-in-out;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
}

li {
    list-style: none;
}

@mixin animation {
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.clearCompletedAnimation{
    transform: translateX(50px);
    transition: all 10s ease-in-out;
}

.dark hr {
    border: none;
    border-top: solid 0.1px $dark_veryDarkGrayishBlue2;
}

.light hr {
    border: none;
    border-top: solid 0.1px $light_lightGrayishBlue;
}

// Background image
.imageContainer {
    display: flex;
    justify-content: center;
}

.backgroundImg {
    position: absolute;
    // top: 0;
    z-index: -5;
    top: 0;
    height: 300px;
    width: 100vw;
    max-width: 1440px;
    // min-width: 100vw;
}

.container {
    position: relative;
    // background-color: $dark_veryDarkDesaturatedBlue;
    width: 34rem;
    // margin-left: 5rem;
    // z-index: -3;
    margin-top: 5rem;

    // min-width: 100vh;

}

// Heading and theme are in one div
.headingBox {
    display: flex;
    flex-direction: row;
}

.theme {
    background: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    @include animation();
}

// Create a new todo
.createTodo {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    // height: 3.5rem;
    padding: 1.3rem;
    border-radius: 5px;
    @include animation();
}

.dark .createTodo {
    background-color: $dark_veryDarkDesaturatedBlue;
}

.light .createTodo {
    background-color: #fff;
}

.dark #addTodo,
textarea {
    background-color: transparent;
    color: $dark_lightGrayishBlue;
    font-family: 'Josefin Sans', 'sans serif';
    font-size: 1.1rem;
    font-weight: 400;
    width: 25.5rem;
    outline: none;
    border: none;

    &::placeholder {
        color: $dark_darkGrayishBlue;
        font-family: 'Josefin Sans', 'sans serif';
        font-size: 1.1rem;
        font-weight: 400;
        background-color: transparent;
        outline: none;
    }
}

.light #addTodo,
textarea {
    background-color: transparent;
    color: $light_veryDarkGrayishBlue;
    font-family: 'Josefin Sans', 'sans serif';
    font-size: 1.1rem;
    font-weight: 400;
    width: 25.5rem;
    outline: none;
    border: none;

    &::placeholder {
        color: $light_darkGrayishBlue;
        font-family: 'Josefin Sans', 'sans serif';
        font-size: 1.1rem;
        font-weight: 400;
        background-color: transparent;
        outline: none;
    }
}

.allTodo {
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}

.dark .allTodo {
    box-shadow: 5px 80px 50px rgba(0, 0, 0, 0.5);
}

.light .allTodo {
    box-shadow: 5px 80px 50px rgba(210, 211, 219, 0.5);

}

.checkBoxChecked {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $dark_veryDarkDesaturatedBlue;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.6s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(to right, $gradient1, $gradient2);
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }
}

// To effectively assign z-index to back layer of button
.radioContainer {
    position: relative;
    z-index: 2;
    margin-right: 1.5rem;
}

.dark .checkBox {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $dark_veryDarkDesaturatedBlue;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        // background: linear-gradient(to right, $gradient1, $gradient2);
        background: $dark_veryDarkGrayishBlue2;
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }

    &:hover {
        &::before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: linear-gradient(to right, $gradient1, $gradient2);
            border: none;
            z-index: -1;
            // margin: -1px;
            border-radius: 100%;
        }
    }
}

.light .checkBox {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        // background: linear-gradient(to right, $gradient1, $gradient2);
        background: $light_veryLightGrayishBlue;
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }

    &:hover {
        &::before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: linear-gradient(to right, $gradient1, $gradient2);
            border: none;
            z-index: -1;
            // margin: -1px;
            border-radius: 100%;
        }
    }
}

// To create hover effect on unchecked buttons
.dark .radioGradient {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $dark_veryDarkDesaturatedBlue;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(to right, $gradient1, $gradient2);
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }
}

.light .radioGradient {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(to right, $gradient1, $gradient2);
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }
}

// No functionality. Just for design. (Position- with create ToDo)
.light .dummy {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: initial;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        // background: linear-gradient(to right, $gradient1, $gradient2);
        background: $light_veryLightGrayishBlue;
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }
}

.dark .dummy {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $dark_veryDarkDesaturatedBlue;
    position: relative;
    border: 1px solid;
    border-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 100%;
    cursor: initial;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        // background: linear-gradient(to right, $gradient1, $gradient2);
        background: $dark_veryDarkGrayishBlue2;
        border: none;
        z-index: -1;
        // margin: -1px;
        border-radius: 100%;
    }
}

.dark .allTodo {
    background-color: $dark_veryDarkDesaturatedBlue;
}

.light .allTodo {
    background-color: #fff;
}

// Contains all the elements of a single ToDo
.box {
    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    font-size: 1.1rem;
    position: relative;

    &:hover {
        .cross {
            visibility: visible;
            cursor: pointer;
        }
    }
}

.text {
    max-width: 25.5rem;
    font-weight: 400;
    position: relative;
    top: 5px;
    cursor: pointer;
    @include animation();
    transition: 0s;
}

.dark .taskChecked {
    color: $dark_veryDarkGrayishBlue1;
    text-decoration: line-through;
    transition: all 0.6s ease-in-out;
}

.light .taskChecked {
    color: $light_lightGrayishBlue;
    text-decoration: line-through;
    transition: all 0.6s ease-in-out;
}

.task {
    &:hover {
        background-color: $gradient1;
        background-image: linear-gradient(to right, $gradient1, $gradient2);
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

.dark .task {
    color: $dark_lightGrayishBlue;
}

.light .task {
    color: $light_veryDarkGrayishBlue;
}

.checkBoxChecked {
    background: linear-gradient(to right, $gradient1, $gradient2);
    background-repeat: no-repeat;
}

.cross {
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1.5rem;
    top: 23px;
    // margin-left: auto;
    // visibility: visible;
    visibility: hidden;
    background-image: url("../images/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    // @include animation();
}

// Bottom row that contains clear completed button
.lastRow {
    display: flex;
    flex-direction: row;
    // height: 3rem;
    padding: 1.2rem;
    font-size: 0.8rem;
    border-radius: 0 0 5px 5px;
}

.dark .lastRow{
    background-color: $dark_veryDarkDesaturatedBlue;
    color: $dark_darkGrayishBlue;
}

.light .lastRow {
    background-color: #fff;
    color: $light_darkGrayishBlue;
}

// Three buttons: All, Active and Completed
.threeButtons {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    font-size: 0.9rem;
    font-weight: 700;
}

.dark .clearCompleted {
    position: absolute;
    right: 1.2rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9rem;
    @include animation();

    &:hover {
        color: $dark_lightGrayishBlue_hover;
    }
}

.light .clearCompleted {
    position: absolute;
    right: 1.2rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9rem;
    @include animation();

    &:hover {
        color: #000;
    }
}

@mixin threeButtonsLight {
    cursor: pointer;
    @include animation();

    &:hover {
        color: #000;
    }
}

@mixin threeButtonsDark {
    cursor: pointer;
    @include animation();

    &:hover {
        color: $dark_lightGrayishBlue_hover;
    }
}

.dark .all {
    @include threeButtonsDark();
}

.light .all {
    @include threeButtonsDark();
}

.allShowing {
    cursor: pointer;
    color: $brightBlue;
}

.dark .active {
    margin-left: 20px;
    @include threeButtonsDark();
}

.light .active {
    margin-left: 20px;
    @include threeButtonsLight();
}

.activeShowing {
    cursor: pointer;
    margin-left: 20px;
    color: $brightBlue;
}

.dark .completed {
    margin-left: 20px;
    @include threeButtonsDark();
}

.light .completed {
    margin-left: 20px;
    @include threeButtonsLight();
}

.completedShowing {
    cursor: pointer;
    margin-left: 20px;
    color: $brightBlue;
}

.attribution {
    margin-top: 20px;
}

// Three buttons are on seperate row in mobile view
.threeButtonsMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    .backgroundImg {
        max-width: 600px;
        width: 100vw;
        // height: 300px;
    }

    .container {
        width: 20.5rem;
        margin-top: 5rem;
    }

    .createTodo {
        padding: 1rem;
    }

    .dark #addTodo,
    textarea {
        font-size: 0.8rem;
        // width: 10rem;

        &::placeholder {
            font-size: 0.8rem;
        }
    }

    .light #addTodo,
    textarea {
        font-size: 0.8rem;
        // width: 10rem;

        &::placeholder {
            font-size: 0.8rem;
        }
    }

    .box {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .radioContainer {
        margin-right: 1rem;
    }

    .checkBoxChecked {
        width: 1.2rem;
        height: 1.2rem;
    }

    .dark .checkBox {
        width: 1.2rem;
        height: 1.2rem;
    }

    .light .checkBox {
        width: 1.2rem;
        height: 1.2rem;
    }

    .dark .radioGradient {
        width: 1.2rem;
        height: 1.2rem;
    }

    .light .radioGradient {
        width: 1.2rem;
        height: 1.2rem;
    }

    .dark .dummy {
        width: 1.2rem;
        height: 1.2rem;
    }

    .light .dummy {
        width: 1.2rem;
        height: 1.2rem;
    }

    .dark .threeButtonsMobile {
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.5);
    }

    .light .threeButtonsMobile {
        box-shadow: 5px 10px 50px rgba(210, 211, 219, 0.5);

    }

    .text {
        max-width: 15rem;
    }

    .cross {
        top: 20px;
        right: 0.8rem;
        height: 0.8rem;
        width: 0.8rem;
        visibility: visible;
        background-image: url("../images/icon-cross.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .threeButtons {
        display: none;
    }

    .dark .lastRow {
        font-size: 0.7rem;
        padding: 1rem;
    }

    .light .lastRow {
        font-size: 0.7rem;
        padding: 1rem;
    }

    .dark .clearCompleted {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .light .clearCompleted {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .threeButtonsMobile {
        display: flex;
        font-weight: 700;
        font-size: 0.9rem;
        padding: 1rem;
        margin-top: 1rem;
        justify-content: center;
        border-radius: 5px;
    }

    .dark .threeButtonsMobile {
        background-color: $dark_veryDarkDesaturatedBlue;
        color: $dark_darkGrayishBlue;
    }

    .light .threeButtonsMobile {
        background-color: #fff;
        color: $light_darkGrayishBlue;
    }

    .dark .allMobile {
        @include threeButtonsDark();
    }

    .light .allMobile {
        @include threeButtonsLight();
    }

    .allShowingMobile {
        cursor: pointer;
        color: $brightBlue;
    }

    .dark .activeMobile {
        margin-left: 20px;
        @include threeButtonsDark();
    }

    .light .activeMobile {
        margin-left: 20px;
        @include threeButtonsLight();
    }

    .activeShowingMobile {
        cursor: pointer;
        margin-left: 20px;
        color: $brightBlue;
    }

    .dark .completedMobile {
        margin-left: 20px;
        @include threeButtonsDark();
    }

    .light .completedMobile {
        margin-left: 20px;
        @include threeButtonsLight();
    }

    .completedShowingMobile {
        cursor: pointer;
        margin-left: 20px;
        color: $brightBlue;
    }

}